<% provide(:title, 'About') %>
<style>
a { color: blue; }
</style>

<h2 class="text-center">What is a Visual Scheduler?</h2>

<p class="text-center" style="font-size:30px">A Visual Scheduler is a type of tool often used by the disabled. They use pictographs to 
give visual representations of tasks. Many parents of special needs children utilize visual schedules to increase 
productivity, increase comfort levels, and facilitate communication with non-verbal individuals.<br><br>

You can find out more about internet accessibility, autism acceptance,  disability rights, or become an advocate at any of these great locations. </p><br><br>

<ul class='text-center' style='font-size:25px; list-style:none;'>
	<li><a href="http://www.internetsociety.org/doc/internet-accessibility-internet-use-persons-disabilities-moving-forward">Internet Accessibility</a> </li>
	<li><a href="http://autisticadvocacy.org/">Autistic Self-Advocacy Network</a></li>
	<li><a href="http://www.ndrn.org/index.php">Disability Rights Network</a></li>
	<li><a href="http://www.aapd.com/get-involved/">Get involved through the American Association of People with Disabilities</a></li>
</ul>