<h1>Editing Schedule</h1>

<%= render 'form' %>

<button class="btn btn-large btn-primary"><%= link_to 'Show', user_schedule_path(@user, @schedule) %></button>
<button class="btn btn-large btn-primary"><%= link_to 'Back', :back %></button>
